body {
  margin : 0;
}

.searchcourse {
  background-color : #ffc107;
  color: black;
  border-radius: 10cm;
}

.navbartext {
  font-weight: bold;
}

.coursetable {
  font-family: 'Times New Roman', Times, serif ;
  font-size: small;
}